<div class="jobs-area pt-100 pb-75 bg-f8f8f8">
    <div class="container">
        <div class="section-title">
            <h2>Recent Jobs Posted</h2>
            <div class="bar ms-auto me-auto"></div>
            <p class="ms-auto me-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job1.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Product Designer</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Design</li>
                            <li><i class="ri-time-line"></i> 2 Week Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                            <li class="urgent">Urgent</li>
                        </ul>
                        <div class="price">$150 - $180 <span>/Per Week</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job2.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Creative Director</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
                            <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                        </ul>
                        <div class="price">$120 - $140 <span>/Per Week</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job3.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">General Ledger Accountant</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Accounting  & Finance</li>
                            <li><i class="ri-time-line"></i> 1 Day Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 320 Los Angeles, CA</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                            <li class="internship">Internship</li>
                        </ul>
                        <div class="price">$120 - $140 <span>/Per Week</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job4.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Finance Manager & Health </a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Medical & Health</li>
                            <li><i class="ri-time-line"></i> 5 Days Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 320 Atlanta, GA</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                            <li class="urgent">Urgent</li>
                        </ul>
                        <div class="price">$30 - $40 <span>/Per Hour</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job5.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Group Marketing Manager</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Customer</li>
                            <li><i class="ri-time-line"></i> 3 Days Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                            <li class="urgent">Urgent</li>
                        </ul>
                        <div class="price">$30 - $40 <span>/Per Hour</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job6.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">iOS Developer</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> IT Agency</li>
                            <li><i class="ri-time-line"></i> 1 Days Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> Los Angeles, CA</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                        </ul>
                        <div class="price">$20 - $30 <span>/Per Hour</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>