<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Categories</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Categories</li>
            </ul>
        </div>
    </div>
</div>

<!-- Categories -->
<div class="categories-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-computer-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Accountancy</a></h3>
                    <span>(22 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-bus-2-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Transport</a></h3>
                    <span>(43 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-flashlight-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Project Manager</a></h3>
                    <span>(35 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-building-2-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Construction</a></h3>
                    <span>(90 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-cloud-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Digital Services</a></h3>
                    <span>(40 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-group-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Human Resource</a></h3>
                    <span>(8 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-restaurant-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Restaurant</a></h3>
                    <span>(56 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-pie-chart-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Marketing & SEO</a></h3>
                    <span>(33 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-home-8-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">NGO/Development</a></h3>
                    <span>(22 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-price-tag-3-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Marketing/Sales</a></h3>
                    <span>(43 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-folder-user-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Content Author</a></h3>
                    <span>(35 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-capsule-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Pharmaceuticals</a></h3>
                    <span>(90 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-admin-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Gen Mgt/Admin</a></h3>
                    <span>(40 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-shopping-cart-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Consumer</a></h3>
                    <span>(8 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-shield-user-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Security Service</a></h3>
                    <span>(56 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-community-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Field Manager</a></h3>
                    <span>(33 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-map-pin-user-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Staff Officer</a></h3>
                    <span>(22 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-auction-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Law/Legal</a></h3>
                    <span>(43 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-user-2-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Managing</a></h3>
                    <span>(35 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-recycle-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Education</a></h3>
                    <span>(90 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-gallery-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Media Executive</a></h3>
                    <span>(40 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-first-aid-kit-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Health & Fitness</a></h3>
                    <span>(8 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-phone-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Telecommunication</a></h3>
                    <span>(56 open positions)</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="category-item">
                    <div class="icon">
                        <i class="ri-mist-line"></i>
                    </div>
                    <h3><a routerLink="/job-listings">Others</a></h3>
                    <span>(33 open positions)</span>
                </div>
            </div>
        </div>
    </div>
</div>