<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>About Us</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<app-about></app-about>

<app-services></app-services>

<app-funfacts></app-funfacts>

<app-career-tips></app-career-tips>

