<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title text-start">
            <h2>From Our Blogs</h2>
            <div class="bar"></div>
            <p>We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
            <a routerLink="/blog" class="link-btn"> Browse More Blog <i class="ri-arrow-right-s-line"></i></a>
        </div>.
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 14, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Make a Perfect CV That Attracts the Attention</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Marketing</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 13, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 03 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Marketing to Get the Job You Want Within 72 Days</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img3.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 12, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Your Social Media Accounts Will be Your New CV</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>