<div class="counter-area pt-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-6 col-sm-4">
                <div class="counter-card">
                    <h3>14K</h3>
                    <div class="bar ms-auto me-auto"></div>
                    <p>Over 14k Open Job Positions</p>
                </div>
            </div>
            <div class="col-lg-4 col-6 col-sm-4">
                <div class="counter-card">
                    <h3>1,87,113</h3>
                    <div class="bar ms-auto me-auto"></div>
                    <p>1,87,113 Total Job Posted</p>
                </div>
            </div>
            <div class="col-lg-4 col-6 col-sm-4">
                <div class="counter-card">
                    <h3>5M</h3>
                    <div class="bar ms-auto me-auto"></div>
                    <p>5 Million Daily Active Users</p>
                </div>
            </div>
        </div>
    </div>
</div>