<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>One Search Hundreds of Candidates</h3>
            <div class="banner-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Candidate Name or Keyword">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City or Postcode">
                                <i class="ri-map-pin-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <button type="submit" class="submit-btn">Find Candidates</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Candidates -->
<div class="candidates-area ptb-100">
    <div class="container">
        <div class="jend-grid-sorting row align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 ordering-industries">
                <div class="select-box">
                    <label>Category:</label>
                    <select>
                        <option>All Industries</option>
                        <option>Business Development</option>
                        <option>Construction</option>
                        <option>Customer Service</option>
                        <option>Finance</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate1.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Liam Noah
                            </a>
                        </h3>
                        <img src="assets/images/flags/canada.svg" alt="flag">
                    </div>
                    <p>Developer</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>87%</b></span>
                        <span>Rate: <b>$30 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate2.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Olivia Emma
                            </a>
                        </h3>
                        <img src="assets/images/flags/japan.svg" alt="flag">
                    </div>
                    <p>Designer</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>67%</b></span>
                        <span>Rate: <b>$22 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate3.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Charlotte Amelia
                            </a>
                        </h3>
                        <img src="assets/images/flags/germany.svg" alt="flag">
                    </div>
                    <p>Copywriter</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>100%</b></span>
                        <span>Rate: <b>$43 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate4.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Oliver Elijah
                            </a>
                        </h3>
                        <img src="assets/images/flags/switzerland.svg" alt="flag">
                    </div>
                    <p>SEO & Marketing</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>98%</b></span>
                        <span>Rate: <b>$21 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate5.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                William James
                            </a>
                        </h3>
                        <img src="assets/images/flags/australia.svg" alt="flag">
                    </div>
                    <p>Translator</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>82%</b></span>
                        <span>Rate: <b>$12 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate6.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Benjamin Lucas
                            </a>
                        </h3>
                        <img src="assets/images/flags/united-states.svg" alt="flag">
                    </div>
                    <p>Videographer</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>96%</b></span>
                        <span>Rate: <b>$65 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate7.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Henry Alexander
                            </a>
                        </h3>
                        <img src="assets/images/flags/new-zealand.svg" alt="flag">
                    </div>
                    <p>Accountant</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>89%</b></span>
                        <span>Rate: <b>$33 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate8.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Sophia Isabella
                            </a>
                        </h3>
                        <img src="assets/images/flags/united-kingdom.svg" alt="flag">
                    </div>
                    <p>HR Manager</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>85%</b></span>
                        <span>Rate: <b>$25 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate9.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Evelyn Harper
                            </a>
                        </h3>
                        <img src="assets/images/flags/sweden.svg" alt="flag">
                    </div>
                    <p>SEO Professional</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>80%</b></span>
                        <span>Rate: <b>$77 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate10.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Mason Ethan
                            </a>
                        </h3>
                        <img src="assets/images/flags/netherlands.svg" alt="flag">
                    </div>
                    <p>PR or Branding</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>66%</b></span>
                        <span>Rate: <b>$99 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate11.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Daniel Jacob
                            </a>
                        </h3>
                        <img src="assets/images/flags/canada.svg" alt="flag">
                    </div>
                    <p>Construction Manager</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>76%</b></span>
                        <span>Rate: <b>$54 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="candidate-card">
                    <a routerLink="/candidate-details" class="d-inline-block">
                        <img src="assets/images/candidates/candidate12.jpg" alt="candidate-image">
                    </a>
                    <div class="title">
                        <h3>
                            <a routerLink="/candidate-details">
                                Luna Camila
                            </a>
                        </h3>
                        <img src="assets/images/flags/japan.svg" alt="flag">
                    </div>
                    <p>Customer Service Specialist</p>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="sub-title">
                        <span>Job Success: <b>99%</b></span>
                        <span>Rate: <b>$69 Per Hour</b></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/candidates" class="prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/candidates" class="page-numbers">2</a>
                        <a routerLink="/candidates" class="page-numbers">3</a>
                        <a routerLink="/candidates" class="page-numbers">4</a>
                        <a routerLink="/candidates" class="next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>