<div class="employers-cv-area">
    <div class="container">
        <div class="employers-cv-bg">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="employers-cv-content">
                        <h2>Let Clients Find You</h2>
                        <div class="bar"></div>
                        <p>Advertise your services to millions of users</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="employers-cv-btn">
                        <a href="mailto:hello@jend.com">Register now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
