<div class="job-area ptb-100 bg-f8f8f8">
    <div class="container">
        <div class="section-title">
            <h2>Featured Job Offers</h2>
            <div class="bar me-auto ms-auto"></div>
            <p class="me-auto ms-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
        </div>
        <div class="job-slides">
            <owl-carousel-o [options]="jobSlides">
                <ng-template carouselSlide>
                    <div class="job-item">
                        <div class="job-img">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job6.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Professional Copywriter for Advertising</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Finance</li>
                            <li><i class="ri-map-pin-line"></i> New York</li>
                        </ul>
                        <ul class="job-list2">
                            <li class="full-time">Full Time</li>
                            <li>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </li>
                        </ul>
                        <div class="price">$150 - $180 <span>/Per Week</span></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="job-item">
                        <div class="job-img">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job7.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Bank Transfer Operations Team Leader</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Banking</li>
                            <li><i class="ri-map-pin-line"></i> St Brooklyn</li>
                        </ul>
                        <ul class="job-list2">
                            <li class="full-time">Full Time</li>
                            <li class="part-time">Part Time</li>
                            <li>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </li>
                        </ul>
                        <div class="price">$999 - $1999 <span>/Per Week</span></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="job-item">
                        <div class="job-img">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job8.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Professional Copywriter for Advertising</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Graphic Design</li>
                            <li><i class="ri-map-pin-line"></i> New York</li>
                        </ul>
                        <ul class="job-list2">
                            <li class="part-time">Part Time</li>
                            <li>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </li>
                        </ul>
                        <div class="price">$45 - $88 <span>/Per Week</span></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="job-item">
                        <div class="job-img">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job9.jpg" >
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Principal DevOps Engineer Senior Manager</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Accounting</li>
                            <li><i class="ri-map-pin-line"></i> New York</li>
                        </ul>
                        <ul class="job-list2">
                            <li class="full-time">Full Time</li>
                            <li>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </li>
                        </ul>
                        <div class="price">$99 - $119 <span>/Per Week</span></div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>