<div class="services-area pt-100 pb-75 bg-f8f8f8">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Services</h2>
            <div class="bar ms-auto me-auto"></div>
            <p class="ms-auto me-auto">Every single one of our jobs has some kind of flexibility option.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="services-card">
                    <i class="ri-flashlight-line"></i>
                    <h3>Advertise A Job</h3>
                    <p>Single one of our jobs has some kind of flexibility option.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-card">
                    <i class="ri-file-cloud-line"></i>
                    <h3>CV Search</h3>
                    <p>Single one of our jobs has some kind of flexibility option.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-card">
                    <i class="ri-briefcase-2-line"></i>
                    <h3>Display Job</h3>
                    <p>Single one of our jobs has some kind of flexibility option.</p>
                </div>
            </div>
        </div>
    </div>
</div>