<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Frequently Asked Questions</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Frequently Asked Questions</li>
            </ul>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="faq-accordion">
            <div class="box">
                <h3>Getting Started</h3>
                <div class="accordion">
                    <accordion>
                        <accordion-group heading="What is Jend?" [isOpened]="true">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading=" Can I publish a job listing on your platform?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="Is Jend Finder a job board?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                        <accordion-group heading="Can I delete my account?">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="How can I change my password?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="box">
                <h3>Account/Profile</h3>
                <div class="accordion">
                    <accordion>
                        <accordion-group heading="How can I change the e-mail address for my account?">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="Could I request a call back?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="How do I speak to an advisor using Live Chat?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                        <accordion-group heading="How do I post a job on your platform?">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="How can I unsubscribe from your mailing list?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="box">
                <h3>Purchase/Refunds</h3>
                <div class="accordion">
                    <accordion>
                        <accordion-group heading="Can I publish a job listing for free?">
                            <p><strong>Jend</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Jend</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="How can I write a review?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="What are the payment methods?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                        <accordion-group heading="How many jobs can I post at once?">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="What types of job I cannot post?">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>